{% load static %}
{% load extra_tags %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site_short_name_en }}">
    <meta name="author" content="">

    <title>{{ site_short_name_en }}</title>


    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <br>
        <div class="text-center">
            <img src="{{ site_logo.url }}" class="rounded" alt="logo" height="90" width="90">
        </div>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url site_name_link %}">
            <div class="sidebar-brand-icon rotate-n-15">

            </div>
            <div class="sidebar-brand-text mx-3">{{ site_short_name_en }}</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url site_name_link %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        {% for amenu in menu %}
            {% if amenu.menu_isRootMenu %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url amenu.menu_link %}"
                            {% if amenu.items.count > 0 %}
                       data-toggle="collapse"
                            {% endif %}
                       data-target="#{{ amenu.menu_name_en }}"
                       aria-expanded="true" aria-controls="collapseTwo">
                        {% if amenu.items.count > 0 or aamenu.menu_super_menu == None %}
                            {% autoescape off %}
                                {{ amenu.menu_fontawesome }}
                            {% endautoescape %}
                        {% endif %}
                        <span>{{ amenu.menu_name_en }}</span>
                    </a>
                    {% if amenu.items.count > 0 %}
                        <div id="{{ amenu.menu_name_en }}" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                {% for aamenu in menu %}
                                    {% if aamenu.menu_super_menu == amenu %}
                                        <a class="collapse-item"
                                           href="{% url aamenu.menu_link %}">{{ aamenu.menu_name_en }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->

                <!-- Button trigger modal -->
                <button type="button" id="semester_button" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#SemesterModal">
                    Working Semester :
                    {% if selected_semester %}
                        {% for semester in semesters %}
                            {% for key, value in semester.items %}
                                {% if selected_semester == key %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        Select an Academic Semester
                    {% endif %}
                </button>

                <!-- Modal -->
                <div class="modal fade" id="SemesterModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form class="px-4 py-3" action="{% url 'change_semester' %}"
                                  method="post">{% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Academic Semester Selector</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="exampleDropdownFormPassword1">Select a Semester</label>
                                        <select name="semester" class="form-control form-control-lg">
                                            {% for semester in semesters %}
                                                {% for key, value in semester.items %}
                                                    <option value="{{ key }}"
                                                            {% if selected_semester == key %}
                                                            selected
                                                            {% endif %}
                                                    >{{ value }}</option>
                                                {% endfor %}
                                            {% endfor %}

                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-outline-danger">Change the Working Semester
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <style type="text/css">
                        #myoutercontainer2 {
                            line-height: 4em
                        }
                    </style>
                    <p id="myoutercontainer2">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome {{ user.username }}</span>
                    </p>

                    <div class="topbar-divider d-none d-sm-block"></div>
                    {% for mmenu_box in menu_boxes %}
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <img class="img-profile rounded-circle"
                                     src="{{ mmenu_box|keyvalue:'image' }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                {% for item in mmenu_box|keyvalue:'items' %}
                                    <a class="dropdown-item" href="{% url item|keyvalue:'link' %}">
                                        {% autoescape off %}
                                            {{ item|keyvalue:'logo' }}
                                        {% endautoescape %}
                                        {{ item|keyvalue:'name' }}
                                    </a>
                                {% endfor %}
                            </div>
                        </li>



                    {% endfor %}


                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                {% if message is None %}
                {% else %}
                    <div class="modal fade" id="MessagesModalLong" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Messages</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% for key,value in message.items %}
                                        {% if key == 'error' %}
                                            {% for one in value %}
                                                <div class="alert alert-danger" role="alert"> {{ one }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if key == 'info' %}
                                            {% for one in value %}
                                                <div class="alert alert-success" role="alert"> {{ one }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if key == 'warning' %}
                                            {% for one in value %}
                                                <div class="alert alert-warning" role="alert"> {{ one }}</div>
                                            {% endfor %}
                                        {% endif %}

                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
                <!-- Modal -->

                {% block content %}{% endblock %}

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-4 text-gray-800">{{ block_title }}</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        {% for card in cards_row.cards %}
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-{{ card.type }} shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-{{ card.type }} text-uppercase mb-1">
                                                    {{ card.text }}
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ card.value }}
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div class="progress-bar bg-info" role="progressbar"
                                                                 style="width: {{ card.progress_value }}%"
                                                                 aria-valuenow="{{ card.progress_value }}"
                                                                 aria-valuemin="{{ card.progress_min }}"
                                                                 aria-valuemax="{{ card.progress_max }}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas {{ card.icon_type }} fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% for index, ui_element in ui_elements.items %}
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">{{ ui_element.title }}</h6>
                            </div>

                            {% if ui_element.block_type == UIElementTypeEnum.TEXT_ELEMENT %}
                                <div class="card-body">
                                    {{ ui_element.text }}
                                </div>
                            {% elif ui_element.block_type == UIElementTypeEnum.BASIC_ELEMENT %}
                                <div class="card-body">
                                    {{ ui_element.toHTML }}aaa
                                </div>
                            {% elif ui_element.block_type == UIElementTypeEnum.FORM_ELEMENT %}
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                        </div>
                                        <div class="col-10">
                                            <form action="{% url ui_element.action %}" id="{{ ui_element.form_id }}"
                                                  method="{{ ui_element.method }}"
                                                  enctype="multipart/form-data">{% csrf_token %}
                                                {% for field in ui_element.fields %}

                                                    {% if  field.input_type == FormInputTypeEnum.TEXT_INPUT or field.input_type == FormInputTypeEnum.EMAIL_INPUT or field.input_type == FormInputTypeEnum.PASSWORD_INPUT or field.input_type == FormInputTypeEnum.COLOR_INPUT or field.input_type == FormInputTypeEnum.FILE_INPUT %}
                                                        <div class="form-group">
                                                            <label for="{{ field.name }}">
                                                                <strong>{{ field.input_label }}</strong></label>
                                                            <input type="{{ field.input_type.value }}"
                                                                   class="form-control"
                                                                   id="{{ field.name }}"
                                                                   name="{{ field.name }}"
                                                                   placeholder="{{ field.placeholder }}"
                                                                   value="{{ field.value }}"
                                                                   size="{{ field.size }} maxlength={{ field.maxlength }}">
                                                        </div>
                                                    {% elif  field.input_type == FormInputTypeEnum.DATE_INPUT or field.input_type == FormInputTypeEnum.TIME_INPUT or field.input_type == FormInputTypeEnum.WEEK_INPUT  or field.input_type == FormInputTypeEnum.DATETIMELOCAL_INPUT or field.input_type == FormInputTypeEnum.MONTH_INPUT %}
                                                        <div class="form-group">
                                                            <label for="{{ field.name }}">
                                                                <strong>{{ field.input_label }}</strong></label>
                                                            <input type="{{ field.input_type.value }}"
                                                                   class="form-control"
                                                                   id="{{ field.name }}"
                                                                   name="{{ field.name }}"
                                                                   placeholder="{{ field.placeholder }}"
                                                                   value="{{ field.value }}" size="{{ field.size }}">
                                                        </div>
                                                    {% elif  field.input_type == FormInputTypeEnum.SUBMIT_INPUT or field.input_type == FormInputTypeEnum.RESET_INPUT %}
                                                        <button type="{{ field.input_type.value }}"
                                                                class="btn {{ field.button_class.value }}">{{ field.input_label }}</button>
                                                    {% elif  field.input_type == FormInputTypeEnum.HIDDEN_INPUT %}
                                                        <div class="form-group">
                                                            <input type="{{ field.input_type.value }}"
                                                                   class="form-control"
                                                                   id="{{ field.name }}"
                                                                   name="{{ field.name }}"
                                                                   placeholder="{{ field.placeholder }}"
                                                                   value="{{ field.value }}" size="{{ field.size }}">
                                                        </div>

                                                    {% elif  field.input_type == FormInputTypeEnum.TEXTAREA_INPUT %}
                                                        <div class="form-group">
                                                            <label for="{{ field.name }}">
                                                                <strong>{{ field.input_label }}</strong></label>
                                                            <textarea
                                                                    class="form-control"
                                                                    id="{{ field.name }}"
                                                                    name="{{ field.name }}"
                                                                    placeholder="{{ field.placeholder }}"
                                                                    size="{{ field.size }}"
                                                                    rows="4">{{ field.value }}</textarea>
                                                        </div>

                                                    {% elif  field.input_type == FormInputTypeEnum.SELECT_INPUT %}
                                                        <div class="form-group">
                                                            <label for="{{ field.name }}">
                                                                <strong>{{ field.input_label }}</strong></label>
                                                            <select
                                                                    class="form-control"
                                                                    id="{{ field.name }}"
                                                                    name="{{ field.name }}"
                                                                    placeholder="{{ field.placeholder }}">
                                                                {% for key, value in field.data.items %}
                                                                    <option value="{{ key }}"
                                                                            {% if key == field.value %}
                                                                            selected
                                                                            {% endif %}
                                                                    >{{ value }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>

                                                    {% endif %}
                                                {% endfor %}
                                            </form>
                                        </div>
                                        <div class="col-sm">
                                        </div>
                                    </div>
                                </div>
                                <br>


                            {% elif ui_element.type == UIElementTypeEnum.CALENDAR_ELEMENT %}
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button"
                                                        class="btn
                                                        {% if ui_element.calendar_view_type == CalendarViewTypeEnum.ALL_WEEKS %}
                                                            btn-primary
                                                        {% else %}
                                                        btn-outline-primary
                                                        {% endif %}">
                                                    All Weeks
                                                </button>
                                                <button type="button" class="btn
                                                {% if ui_element.calendar_view_type == CalendarViewTypeEnum.ONE_WEEK %}
                                                            btn-primary
                                                        {% else %}
                                                        btn-outline-primary
                                                        {% endif %}">
                                                    Actual Week
                                                </button>
                                                <button type="button"
                                                        class="btn   {% if ui_element.calendar_view_type == CalendarViewTypeEnum.THREE_WEEKs %}
                                                            btn-primary
                                                        {% else %}
                                                        btn-outline-primary
                                                        {% endif %}">Three Weeks
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                        </div>
                                        <div class="col-sm">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-success dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    Download PDF
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">A3 Format</a>
                                                    <a class="dropdown-item" href="#">B5 Format</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    {% for week in ui_element.weeks %}
                                        <div class="col-xl-4">
                                            <div class="card shadow">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-primary"
                                                        id="WEEK{{ week.week_number }}">
                                                        Week #{{ week.week_number }} </h6>
                                                </div>
                                                <div class="card-body">
                                                    <table class="table table-sm">
                                                        <tbody>
                                                        {% for day in week.days %}
                                                            {% if day.day_number == 6 or  day.day_number == 7 %}
                                                                <tr class="table-warning">
                                                                    {% elif actual_day != day.day_hijri_date %}
                                                                <tr class="table-success">
                                                                    {% else %}
                                                                <tr>
                                                            {% endif %}
                                                        <td>
                                                            <p style="font-size: 12px;">
                                                                <span class="badge badge-secondary">{{ day.day_name }}</span>
                                                                <br>{{ day.day_date_text1 }}<br>{{ day.day_date_text2 }}
                                                            </p>
                                                        </td>
                                                        <td>
                                                            {% for event in day.events %}
                                                                <a href="{% url event.link %}?{{ event.getParameters_as_html_link }}"
                                                                   class=" badge {{ event.badge_type.value }}">
                                                                    {{ event.text }}</a>

                                                            {% endfor %}
                                                        </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% elif ui_element.type == UIElementTypeEnum.INFOTABLE_ELEMENT %}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table
                                                    {% if ui_element.is_table_striped %}
                                                     table-striped
                                                    {% endif %}
                                                    {% if ui_element.is_table_hover %}
                                                    table-hover
                                                    {% endif %}
                                                    {% if ui_element.is_table_bordered %}
                                                    table-bordered
                                                    {% endif %}" width="100%"
                                               cellspacing="0">
                                            <tbody>
                                            {% for row in ui_element.data %}
                                                <tr class="{{ row.row_class.value }}">
                                                    {% for cell in row.cells %}
                                                        <td class="{{ cell.cell_class.value }}">
                                                            {% if cell.cell_type == CellTypeEnum.TEXT_CELL %}
                                                                {{ cell.text }}
                                                            {% elif cell.cell_type == CellTypeEnum.BADGE_CELL %}
                                                                <span class="{{ cell.tag_type.value }}">{{ cell.text }}</span>
                                                            {% elif cell.cell_type == CellTypeEnum.LINK_CELL %}
                                                                <a href="{% url cell.link %}?{{ cell.getParameters_as_html_link }}"
                                                                   class=" badge {{ cell.tag_type.value }}">
                                                                    {{ cell.text }}</a>
                                                            {% endif %}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% elif ui_element.type == UIElementTypeEnum.DATATABLE_ELEMENT %}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table
                                                    {% if ui_element.is_table_striped %}
                                                     table-striped
                                                    {% endif %}
                                                    {% if ui_element.is_table_hover %}
                                                    table-hover
                                                    {% endif %}
                                                    {% if ui_element.is_table_bordered %}
                                                    table-bordered
                                                    {% endif %}" width="100%"
                                               cellspacing="0">

                                            <thead class="thead-dark">
                                            <tr class="{{ ui_element.header_elements.row_class.value }}">
                                                {% for cell in ui_element.header_elements.cells %}
                                                    <th class="{{ cell.cell_class.value }}">
                                                        {% if cell.cell_type == CellTypeEnum.TEXT_CELL %}
                                                            {{ cell.text }}
                                                        {% elif cell.cell_type == CellTypeEnum.BADGE_CELL %}
                                                            <span class="{{ cell.tag_type.value }}">{{ cell.text }}</span>
                                                        {% elif cell.cell_type == CellTypeEnum.LINK_CELL %}
                                                            <a href="{% url cell.link %}?{{ cell.getParameters_as_html_link }}"
                                                               class=" badge {{ cell.tag_type.value }}">
                                                                {{ cell.text }}</a>
                                                        {% endif %}
                                                    </th>
                                                {% endfor %}
                                            </tr>
                                            </thead>

                                            {% if  ui_element.footer %}
                                                <tfoot class="thead-dark">
                                                <tr>
                                                    {% for cell in ui_element.header_elements.cells %}
                                                        <th class="{{ cell.cell_class.value }}">
                                                            {% if cell.cell_type == CellTypeEnum.TEXT_CELL %}
                                                                {{ cell.text }}
                                                            {% elif cell.cell_type == CellTypeEnum.BADGE_CELL %}
                                                                <span class="{{ cell.tag_type.value }}">{{ cell.text }}</span>
                                                            {% elif cell.cell_type == CellTypeEnum.LINK_CELL %}
                                                                <a href="{% url cell.link %}?{{ cell.getParameters_as_html_link }}"
                                                                   class=" badge {{ cell.tag_type.value }}">
                                                                    {{ cell.text }}</a>
                                                            {% endif %}
                                                        </th>
                                                    {% endfor %}
                                                </tr>
                                                </tfoot>
                                            {% endif %}
                                            <tbody>
                                            {% for row in ui_element.body_elements %}
                                                <tr class="{{ row.row_class.value }}">
                                                    {% for cell in row.cells %}
                                                        <td class="{{ cell.cell_class.value }}">
                                                            {% if cell.cell_type == CellTypeEnum.TEXT_CELL %}
                                                                {{ cell.text }}
                                                            {% elif cell.cell_type == CellTypeEnum.BADGE_CELL %}
                                                                <span class="{{ cell.tag_type.value }}">{{ cell.text }}</span>
                                                            {% elif cell.cell_type == CellTypeEnum.LINK_CELL %}
                                                                <a href="{% url cell.link %}?{{ cell.getParameters_as_html_link }}"
                                                                   class=" badge {{ cell.tag_type.value }}">
                                                                    {{ cell.text }}</a>
                                                            {% endif %}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        </div>



                    {% endfor %}

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-dark">
                <div class="container my-auto">
                    <div class="text-center">
                        <img src="{{ footer_logo.url }}" class="rounded" alt="footer logo" height="80" width="80">
                    </div>
                    <br>
                    <div class="copyright text-center my-auto text-light">
                        <span>Copyright &copy; {{ footer_year }}</span><br><br>
                        <span>{{ footer_text_en }}</span><br><br>
                        <span>version {{ footer_version }}</span><br><br>
                        <span>{{ footer_address_en }}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>


    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script>$('select[data-source]').each(function () {
        var $select = $(this);
        $.ajax({
            url: $select.attr('data-source'),
        }).then(function (options) {
            options.map(function (option) {
                var $option = $('<option>');

                $option
                    .val(option[$select.attr('data-valueKey')])
                    .text(option[$select.attr('data-displayKey')]);
                let $selected_semester = {{ request.session.selected_semester }};

                let $selection = false
                if ($selected_semester === option[$select.attr('data-valueKey')]) {
                    $selection = true
                    document.getElementById("semester_button").innerHTML = "Working Semester: ".concat(option[$select.attr('data-displayKey')]);
                }

                let $option2 = new Option(option[$select.attr('data-displayKey')], option[$select.attr('data-valueKey')], $selection, $selection);


                $select.append($option2);
            });
        });
    });</script>

    <script>
        $(document).ready(function () {
            $('table.table').DataTable();
        });
    </script>


    <script>

        $(document).ready(function () {
            $('#MessagesModalLong').modal({show: true});
        });
    </script>

</body>

</html>