{% extends "base.html" %}
{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> {{ Big_Title }}</h1>


    </div>


    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ Little_Title }}</h6>
        </div>

        <div class="card-body">

            <div class="table-responsive">
                <form method="post">{% csrf_token %}
                    <table>
                        <tbody>
                        {{ form.as_table }}
                        </tbody>
                    </table>
                    <br>
                    <button type="submit" class="btn btn-success">Save</button>

                </form>
            </div>
        </div>
    </div>


{% endblock %}